svgling==0.3.0
tqdm
matplotlib
numpy
pandas
scipy
seaborn
statsmodels
xlrd
plotly==3.8.0
nb_pdf_template
ipywidgets
jieba
pylab
scikit-learn
requests
beautifulsoup4
tushare
pyecharts
echarts-countries-pypkg
echarts-china-provinces-pypkg
echarts-china-cities-pypkg
echarts-china-counties-pypkg
echarts-china-misc-pypkg
echarts-themes-pypkg
