kaggle==1.5.1.1
opencv-python==4.1.0.25
mxnet==1.4.1
scikit-multilearn==0.2.0
dask==2021.10.0
lmdb==0.92
torch==0.4.1
Unidecode==1.0.23
pycocotools==2.0
imgaug==0.2.9
python-slugify==2.0.0
mkl-fft==1.0
mkl-random==1.0.2
prompt-toolkit==2.0.7
prometheus-client==0.5.0
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab-server==0.2.0
ipython-genutils==0.2.0
graphviz==0.8.4
shapely==1.6.4.post1