absl-py==0.6.1
asn1crypto==0.24.0
astor==0.7.1
attrs==18.2.0
backcall==0.1.0
bleach==3.0.2
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.6.1
cryptography==2.5
cryptography-vectors==2.3.1
cycler==0.10.0
Cython==0.29.6
cytoolz==0.9.0.1
decorator==4.3.0
entrypoints==0.2.3
gast==0.2.1.post0
grpcio==1.16.0
idna==2.7
imageio==2.5.0
ipykernel==5.1.0
ipython==7.2.0
jedi==0.13.2
Jinja2==2.10
jsonschema==3.0.0a3
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==3.0.3
mistune==0.8.4
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
notebook==5.7.4
numpy==1.14.6
olefile==0.46
jupyterlab==0.35.4
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.0.0
protobuf==3.6.1
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.1
pyOpenSSL==18.0.0
pyparsing==2.3.0
pyrsistent==0.14.8
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
pyzmq==17.1.2
requests==2.20.1
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
Send2Trash==1.5.0
SimpleITK==1.1.0
six==1.12.0
tensorboard==1.10.0
tensorboardX==1.6
tensorflow==1.15.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
